body{
	font: 20px Arial, sans-serif;
}
.navbar{
	background-color: lime;
}
.home-index{
	background-color: #F7ED28;
	color: black;
}
.margin{
	padding-top: 10px;
	padding-bottom: 30px;
}
.parceiros{
	background-color: pink;
}
.servicos{
	background-color: gray;
}
.rodape{
	background-color: purple;
	color: white;
	padding-bottom: 30px;
	padding-top: 30px;
}
.logohome{
	padding-left:10px;
	padding-right:10px
}